html{

    font-family: "Roboto", sans-serif;
}
body{
    background-color: hsl(235, 18%, 26%);
}
.body{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas: 
                       ". a a a a ."
                       ". b b b b ."
                       ". c c c c .";
}
.main{
    grid-area: b;
}
.container{
    display:grid;
    grid-template-columns: 3fr 2fr;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding:1rem;
}
h1{
    font-size: 2rem;
    font-weight: 700;
    color: hsl(234, 29%, 20%);
}
.container h1{
    margin-top: -10px;
}
p{
    font-size: 16px;
    font-weight: 500;
    color: hsl(234, 29%, 20%);
}
.title-div p{
    margin: -10px 0 1.5rem 0;
}
.form{
    padding: 2.5rem 3rem 2rem 2rem;
}
.info-div{
    margin-bottom: 1.5rem;
}
.semi{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
    height: 20px;
    gap: 20px;
}
.small-tick{
    height: 20px;
    width: 20px;
}
.email-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.label-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
label{
    font-size: 0.6rem;
    color: hsl(234, 29%, 20%);
    font-weight: 600;
    margin-bottom: 7px;
}
.warning{
    font-size: 0.6rem;
    font-weight: 600;
    margin-bottom: 7px;
}

.email-div input{
    height: 20px;
    border-radius: 5px;
    border: 2px solid hsla(231, 7%, 60%, 0.3);
    padding: 10px;
    color: hsl(231, 7%, 60%);
    font-weight: 400;
}
.email-div input:focus{
    outline: none;
}
.email-div input:invalid{
    border: 2px solid hsl(4, 100%, 67%);
    background-color:hsla(4, 100%, 67%,0.1);
    color: hsl(4, 100%, 67%);
}

.cover{
    height: 100%;
    width: 100%;
    background-size: cover; 
}
.btn{
    padding: 15px;
    font-size: 16px;
    height: 45px;
    width: 100%;
    border-radius: 7px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    background-color: hsl(234, 29%, 20%);
    border:0;
}
.btn:hover{
    font-size: 15px;
    background: linear-gradient(90deg, hsl(4, 76%, 37%) 5%,hsl(4, 100%, 67%));
    font-weight: 600;
    box-shadow: 2px 2px 5px 2px hsl(4, 76%, 37%);
}
.success-div{
    position: fixed;
    width: min-content;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 100%);
    padding: 2.5rem;
    border-radius: 30px;
}
.success-div h1{
    margin-bottom: 0;
    padding-right: 4rem;
}
.success-img{
    height: 80px;
    width: 80px;
    object-fit: cover;
  }
.submit{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(234, 29%, 20%);
    border: none;
}
.submit:hover{
    font-size: 20px;
    background: linear-gradient(90deg, hsl(4, 76%, 37%) 5%,hsl(4, 100%, 67%));
    font-weight: 600;
    box-shadow: 2px 2px 5px 2px hsl(4, 76%, 37%);
}
.output{
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 500;
}
.attribution { 
    grid-area: c;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.attribution p{
    color:hsl(0, 0%, 100%);
    font-size: 13px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(4, 100%, 67%); 
}
